<header>
    <div class="container"> 
        <a href="#" routerLink="/home" class="logo">Locket</a>
        <nav>
            <ul *ngIf="isLoggedIn">
                <li *ngIf="isAdmin">
                    <a href="#" routerLink="/protected" class="protected">Admin Panel</a>
                </li>
                <li>
                    <a href="#" routerLink="/cart" class="counter">Cart({{ countProducts$ | async }})</a>
                </li>
                <li>
                    <a href="#" class="counter" (click)="logout()">Logout ({{username}})</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
