ul{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

ul li a{
    height: 22.5rem;
    width: 20rem;
    border: 1px solid whitesmoke;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    //overflow: hidden;
    color: violet;
}

.category{
    font-size: small;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
}


.content{
    padding: 0.5rem 1rem;
    position: relative;
}

.price{
    color: purple;
    margin-top: 1.7rem;
}

li a:hover{
    opacity: 0.9;
    cursor: pointer;
}

li{
    position: relative;
}

.add-to-cart{
    position: absolute;
    top: 25.5rem;
    right: 0;
}

