/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

*{
    box-sizing: border-box;
}

html{
    font-size: 18px;
}

body{
    margin: 0;
    font-family: "PlayFair Display", sans-serif;
    font-size: 20px;
    background-color: whitesmoke;
}

a{
    text-decoration: none;
}